---

secret:
  root_user_password: '<<root_password>>'
  ansible_user_password: '<<ansible_user_password>>'
  sshd_port: 22
  mysql8_root_password: 'MySQL_root_password'
  mysql8:
    mysql_user_password: 'MySQL_user_password'
  pg_user:
    pg_user_password: 'postgres_user_password'
  ssh_allow_ips:
    - 116.220.xxx.xxx # Allow IP for sshd
    - 118.27.xxx.xxx # Allow IP for sshd
  web_user:
    web_user_password: 'web_user_password'
    web_user_password_salt: 'web_user_password_salt' # number alpha, not symbol
